/* It should have a white background, not the default gray. */
section#grid { background: white }

/* The Masonry grid will be vertically and horizontally centered. */
.masonry {
  width: 600px;
  height: 600px;
  float: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px
  }

/* Each "column" is 75px, though nothing is only one column. 10px for margins are
 * subtracted from the total of each width and height.
 */
.item {
  width:  215px;
  height: 215px;
  float: right;
  border-radius: 10px;
  margin: 5px
  }

/* A default item is 3x3, but the height and width can be changed with these classes. */
.h2 { height: 140px }
.w4 { width:  290px }
.w2 { width:  140px }