.masonry {
  width: 50%;
  height: 100%;
  float: left
  }

.item {
  width:  33%;
/*  height: 75px;*/
  height: 25%;
  float: left;
  border-radius: 10px
  }

.h1 {
/*  height: 100px*/
  height: 33.33333333%;
  }

.h2 {
/*  height: 150px*/
  height: 50%;
  }
  
.grid-sizer {
  width: 33%
  }